.App {
    text-align: center;
}

* {
    box-sizing: border-box;
}

html {
    --primary: #f2f2f2;
    --secondary: #d4ebf7;
    --highlight: #4f5dc3;
    --overlay: #72a5d1;
    --text: #262627;
}

html[data-theme='dark'] {
    --primary: #1e1f21;
    --secondary: #292a2d;
    --text: #ffffff;
}
